@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    align-items: center;
    width: 90%;
    height: 350px;
    margin: 30px 50px;
    border-radius: 50px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.imageAndAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 290px;
    border-right: gray solid 1px;
}

.imageAndAddress img {
    width: 180px;
    height: 140px;
    margin: 10px;

}

.imageAndAddress h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
}

.imageAndAddress p {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.otherInfoContainer {
    width: 100%;
    height: 290px;
    /* border: black 1px solid; */
    display: flex;
}

.otherInfo {
    flex: 1;
    height: 100%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.otherInfo h2 {
    font-size: 20px;
    margin-left: 110px;
}

.otherInfo p {
    margin-top: 20px;
    margin-left: 110px;
    font-size: 15px;
}