* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.slider_item {
    margin-top: 30px;
    width: 80%;
}

.slider_item img {
    width: 90%;
    height: 75vh;
    object-fit: fill;
    margin-left: 50px;
}

.slick-arrow .slick-prev::before,
.slick-arrow .slick-next::before {
    color: red !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
}